.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1.6rem;
  }
}
.footer a {
  font-size: 1.4rem;
  color: var(--text-muted);
  text-decoration: none;
  transition: 0.6s;
}
.footer a:hover {
  text-decoration: underline;
}
