.button {
  border: none;
  background: var(--primary);
  color: var(--text-over-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24rem;
  padding: 0.8rem;
  transition: 0.6s;
  margin: 2rem 0;
  border-radius: 0.8rem;
  cursor: pointer;
}
.button:hover {
  filter: brightness(0.6);
}
.button svg {
  height: 3.2rem;
  width: 3.2rem;
}
.green {
  background: var(--primary);
  color: var(--text-over-primary);
}
.red {
  background: var(--error);
  color: var(--text-over-error);
}
